.container {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 300px);
  gap: 10px;
  padding-top: 4rem;
  grid-auto-rows: minmax(100px, auto);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 300px);
  }
}
